In [ ]:
# Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
# MongoDB over SQL databases?

'''MongoDB is an open source NoSQL database management program. NoSQL is used as an alternative to traditional relational databases.
NoSQL databases are quite useful for working with large sets of distributed data. MongoDB is a tool that can manage document-oriented information,
store or retrieve information. best feature of the mongodb is to store data in collection it makes over SQL database'''

In [ ]:
# Q2. State and Explain the features of MongoDB.

'''MongoDB supports field queries, range queries, and regular expression searches'''

In [13]:
# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

import pymongo



client = pymongo.MongoClient("mongodb+srv://rkpatel:ronak@rk.fbh19vz.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [14]:
db

Database(MongoClient(host=['ac-bj4t9bi-shard-00-00.fbh19vz.mongodb.net:27017', 'ac-bj4t9bi-shard-00-01.fbh19vz.mongodb.net:27017', 'ac-bj4t9bi-shard-00-02.fbh19vz.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-uqjark-shard-0', tls=True), 'test')

In [15]:
client = pymongo.MongoClient("mongodb+srv://rkpatel:ronak@rk.fbh19vz.mongodb.net/?retryWrites=true&w=majority")

In [16]:
db = client['info']

In [17]:
coll_info = db['id_info']

In [18]:
data = {"1" : "ronak" , "2" : "rkpatel" , "3" : "srk"}

In [19]:
coll_info.insert_one(data)

In [21]:
for i in coll_info.find_one():
    print(i)

_id
1
2
3

In [ ]:
# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
# demonstrate this.


'''Find method used to find data in database there is one more method find_one'''

for i in coll_info.find_one():
    print(i)

In [22]:
# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

'''The sort() method can be used to sort the metadata values for a calculated metadata field'''


data2 = [{'email' : 'rk@gmail.com' , 'Number' : 979685856 , 'address' : 'ajab'},
        {'email' : 'rk@gmail.com' , 'Number' : 979685856 , 'address' : 'keshod junagadh'},
        {'email' : 'rk@gmail.com' , 'Number' : 979685856 , 'address' : 'keshod junagadh'},
        {'email' : 'rk@gmail.com' , 'Number' : 979685856 , 'address' : 'kevadra junagadh'},
        {'email' : 'rk@gmail.com' , 'Number' : 979685856 , 'address' : 'keshod junagadh'},
        {'email' : 'rk@gmail.com' , 'Number' : 979685856 , 'address' : 'agatry junagadh'},
        {'email' : 'rk@gmail.com' , 'Number' : 979685856 , 'address' : 'sonderda junagadh'},
        {'email' : 'rk@gmail.com' , 'Number' : 979685856 , 'address' : 'aklera junagadh'},
        {'email' : 'rk@gmail.com' , 'Number' : 979685856 , 'address' : 'meshvan junagadh'},
        {'email' : 'rk@gmail.com' , 'Number' : 979685856 , 'address' : 'keshod junagadh'},
        {'email' : 'rk@gmail.com' , 'Number' : 979685856 , 'address' : 'keshod junagadh'},
        {'email' : 'rk@gmail.com' , 'Number' : 979685856 , 'address' : 'keshod junagadh'}]

coll_info.insert_many(data2)

In [28]:
for i in coll_info.find().sort('address'):
    print(i)

{'_id': ObjectId('63ff2b1849ca9ff2ba83abbf'), '1': 'ronak', '2': 'rkpatel', '3': 'srk'}
{'_id': ObjectId('63ff2d9a49ca9ff2ba83abc5'), 'email': 'rk@gmail.com', 'Number': 979685856, 'address': 'agatry junagadh'}
{'_id': ObjectId('63ff2d9a49ca9ff2ba83abc0'), 'email': 'rk@gmail.com', 'Number': 979685856, 'address': 'ajab'}
{'_id': ObjectId('63ff2d9a49ca9ff2ba83abc7'), 'email': 'rk@gmail.com', 'Number': 979685856, 'address': 'aklera junagadh'}
{'_id': ObjectId('63ff2d9a49ca9ff2ba83abc1'), 'email': 'rk@gmail.com', 'Number': 979685856, 'address': 'keshod junagadh'}
{'_id': ObjectId('63ff2d9a49ca9ff2ba83abc2'), 'email': 'rk@gmail.com', 'Number': 979685856, 'address': 'keshod junagadh'}
{'_id': ObjectId('63ff2d9a49ca9ff2ba83abc4'), 'email': 'rk@gmail.com', 'Number': 979685856, 'address': 'keshod junagadh'}
{'_id': ObjectId('63ff2d9a49ca9ff2ba83abc9'), 'email': 'rk@gmail.com', 'Number': 979685856, 'address': 'keshod junagadh'}
{'_id': ObjectId('63ff2d9a49ca9ff2ba83abca'), 'email': 'rk@gmail.com', 'Number': 979685856, 'address': 'keshod junagadh'}
{'_id': ObjectId('63ff2d9a49ca9ff2ba83abcb'), 'email': 'rk@gmail.com', 'Number': 979685856, 'address': 'keshod junagadh'}
{'_id': ObjectId('63ff2d9a49ca9ff2ba83abc3'), 'email': 'rk@gmail.com', 'Number': 979685856, 'address': 'kevadra junagadh'}
{'_id': ObjectId('63ff2d9a49ca9ff2ba83abc8'), 'email': 'rk@gmail.com', 'Number': 979685856, 'address': 'meshvan junagadh'}
{'_id': ObjectId('63ff2d9a49ca9ff2ba83abc6'), 'email': 'rk@gmail.com', 'Number': 979685856, 'address': 'sonderda junagadh'}

In [ ]:
# Q7. Explain why delete_one(), delete_many(), and drop() is used.

'''delete_one is used to delete a data from data base 
delete-many is used to delete many data from data base
The drop() method removes the specified data.'''